<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/base.css') }}">
    <link rel="stylesheet" href="{% block css_href %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="main-container">
    <div class="header">
        <nav class="container-fluid nav" style="height: 40px">
            <div class="left-items-in-nav">

                <a href="{{ url_for('blog.home') }}">
                    <button type="button" class="btn navs-button">Home</button>
                </a>
                <a href="{{ url_for('blog.login') }}">
                    <button type="button" class="btn navs-button">Login</button>
                </a>
                <a href="#">
                    <button type="button" class="btn navs-button">Sign in</button>
                </a>
                <a href="#">
                    <button type="button" class="btn navs-button">Logout</button>
                </a>
            </div>
            <div class="right-items-in-nav">
                <form class="form-inline search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn my-2 my-sm-0" type="button">Search</button>
                </form>
                <div class="logo-container">
                    <a href="#">
                        <img src="{{ url_for('static', filename='/img/W.png') }}" class="navbar-logo" alt="w logo">
                    </a>
                </div>
            </div>
        </nav>
        {% block extra_header %}{% endblock %}
    </div>

    <div class="container component">
        <div class="col">
            {% block main %}{% endblock %}
        </div>
    </div>

    <div class="container-fluid footer" id="footer">
        <p style="color: white">This is footer</p> <!--delete this line -->
        {% block extra_footer %}{% endblock %}
    </div>
</div>
</body>
</html>
