body {
    background-color: rgba(96, 161, 224, 0.18);
}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #233c55;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 10;
}
.navs-button {
    margin-right: 25px;
    background-color: #60a1e0;
}

.search > button {
    background-color: #60a1e0;
}

.right-items-in-nav {
    display:flex;
    justify-content: start;
}

.logo-container {
    max-height:16%;
}

.navbar-logo {
    max-height:55px;
}
.main-container{
    height:auto;
    background-color: rgba(96, 161, 224, 0.18);
}

.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #233c55;
    z-index:10;
}

